@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
}

button:active {
  background-color: #e0e0e0;
}
.form-control {
  @apply mb-2 block w-full px-3 py-2 placeholder-gray-500 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50;
}
.btn-primary {
  @apply inline-flex justify-center items-center px-4 py-2 bg-gray-500 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-blue-600 active:bg-gray-900 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-500 disabled:opacity-25 transition
  ;
}
.btn-danger {
  @apply inline-flex justify-center items-center px-4 py-2 bg-red-500 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-red-600 active:bg-gray-900 focus:outline-none focus:border-red-500 focus:ring focus:ring-red-500 disabled:opacity-25 transition
  ;
}

.card-item {
  @apply w-full h-72 bg-blue-600 p-4 rounded-xl transform transition-transform duration-300 hover:scale-105
}
